body {
  padding: 20px;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364); 
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  color: hsl(210, 82%, 60%);
}
ol li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 25px;
  font-size: 20px;
  background-color: #798aa9;
  color: #000000;
  padding: 15px 20px;
  border-radius: 12px;
  
  transition: background-color 0.3s ease, transform 0.2s ease;
}

ol li:hover {
  background-color: #3a4f73;
  transform: translateY(-3px);
}
ol img {
  height: 70px;
  width: auto;
  border-radius: 12px;
  flex-shrink: 0;
}