
body{
    background-color: black;
    color: white;
}
header  {
    text-align: center;
    background-color: #004080;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }
img{
    width: 100px;
    height: 120px;
    float: left;
    margin: -4px 10px 10px 0;
    border-radius: 50px;
}  
.contenedor {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
    max-width: 100%;
  }
span{
   
    color: #18528c;
  }

  
.informacion {
    flex: 3;
    background-color: #302d2d;
    padding: 20px;
    border-radius: 20px;
    color: white;
  }
  
.listado-vinculos {
    flex: 1;
    background-color: #302d2d;
    padding: 20px;
    font-size: medium;
    border-radius: 20px;
    color: white;
  }
.listado-vinculos ul {
    list-style: none;
    padding: 0;
  }
  
.listado-vinculos li {
    margin-bottom: 15px;
  }
  
.listado-vinculos a {
    display: inline-block;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
  }
  
.listado-vinculos a:hover {
    background-color: #39b300;
  } 