
body{
    background-color: black;
    color: white;
}
header  {
    text-align: center;
    background-color: #004080;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }
#foto-perfil{
    width: 100px;
    height: 120px;
    float: left;
    margin: -4px 10px 10px 0;
    border-radius: 50px;
}  
.contenedor {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    gap: 30px;
    padding: 20px;
    max-width: 100%;
  }
span{
   
    color: #18528c;
  }

  
.informacion {
    flex: 3;
    background-color: #302d2d;
    padding: 20px;
    border-radius: 20px;
    color: white;
  }
  
.listado-vinculos {
    flex: 1;
    background-color: #302d2d;
    padding: 20px;
    font-size: medium;
    border-radius: 20px;
    color: white;
  }
.listado-vinculos ul {
    list-style: none;
    padding: 0;
  }
  
.listado-vinculos li {
    margin-bottom: 15px;
  }
  
.listado-vinculos a {
    display: block;
    text-decoration: none;
    background-color: #007bff;
    text-align: center;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
    padding: 10px 15px;
    border-radius: 8px;
  }
    
.listado-vinculos a:hover {
    background-color: #39b300;
    transform: scale(1.05);
  } 

  .imagen {
    text-align: center;
    margin-top: 30px;
  }
  
  .boton-imagen {
    width: 220px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
    cursor: pointer;
  }
  
  .boton-imagen:hover {
    transform: scale(1.05);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #c7c7c7;
  }
  
  th {
    background-color: #004080;
    color: rgb(199, 199, 199);
    padding: 10px;
  }
  
  td {
    padding: 10px;
    background-color: #656363;
  }
  